<div id="differentials" class="container my-5 py-5">
    <h1 class="border-bottom text-body-emphasis mb-5">Nossos <span style="background-color: #F6A728;color: #F2F2F2;">DIFERENCIAIS</span></h1>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/008_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3>Modelos de Locação Flexíveis</h3>
            <p>Muito além da simples locação: oferecemos modalidades com opção de compra, locações sob demanda, e até
                aquisição de equipamentos personalizados conforme a necessidade do cliente</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/009_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3>Modelos de Locação Flexíveis</h3>
            <p>Muito além da simples locação: oferecemos modalidades com opção de compra, locações sob demanda, e até
                aquisição de equipamentos personalizados conforme a necessidade do cliente.</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/010_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3>Equipe especializada e experiente</h3>
            <p>Profissionais com ampla experiência em operações de perfuração para o mercado de áreas contaminadas,
                construção e manutenção de máquinas e equipamentos.</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/011_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3>Atendimento Técnico e Personalizado</h3>
            <p>Apoio próximo e especializado em todas as etapas: desde a escolha dos equipamentos até o acompanhamento
                do uso em campo. Soluções construídas com base na realidade de cada cliente.</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/012_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3>Kits Completos para Sondagens Ambientais</h3>
            <p>Soluções para acelerar o início dos trabalhos em campo, com todos os componentes e acessórios essenciais
                incluídos, reduzindo riscos logísticos e operacionais.</p>

        </div>
    </div>
</div>