<div id="differentials" class="container">
    <h1 class="border-bottom text-body-emphasis">
        <img src="/source/images/differentials.svg" alt="" class="img-fluid w-100 shadow-none">
        <!--
        Nossos <strong><span
                style="background-color: #F6A728;color: #F2F2F2;">DIFERENCIAIS</span></strong>
                -->
    </h1>
    <div class="container my-5">
        <div class="container text-center my-5">
            <div class="row g-4 justify-content-center">
                <div class="col-md-4 p-3">
                    <img src="./source/images/010_Image.svg" alt="">
                    <h3 class="text-left"><strong>Equipamentos modernos e em conformidade com NR-12</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/011_Image.svg" alt="">
                    <h3 class="text-left"><strong>Atendimento técnico especializado</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/009_Image.svg" alt="">
                    <h3 class="text-left"><strong>Atuação em todo território brasileiro</strong></h3>
                </div>
            </div>

            <div class="row g-4 justify-content-center">
                <div class="col-md-4 p-3">
                    <img src="./source/images/008_Image.svg" alt="">
                    <h3 class="text-left"><strong>Modelos de Locação Flexíveis</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/012_Image.svg" alt="">
                    <h3 class="text-left"><strong>Execução de serviços de perfuração e sondagem</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/017_Image.svg" alt="">
                    <h3 class="text-left"><strong>Equipe especializada e experiente</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>