<div id="differentials" class="container my-5 py-5">
    <h1 class="border-bottom text-body-emphasis mb-5">Nossos <strong><span
                style="background-color: #F6A728;color: #F2F2F2;">DIFERENCIAIS</span></strong></h1>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/008_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3><strong>Modelos de Locação Flexíveis</strong></h3>
            <p>Muito além da simples locação: oferecemos modalidades com opção de compra, locações sob demanda, e até
                aquisição de equipamentos personalizados conforme a necessidade do cliente</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/009_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3><strong>Equipe especializada e experiente</strong></h3>
            <p>Profissionais com ampla experiência em operações de perfuração para o mercado de áreas contaminadas, construção e manutenção de máquinas e equipamentos</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/010_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3><strong>Conformidade Regulatória</strong></h3>
            <p>Equipamentos que atendem às exigências da NR12 e demais normas de segurança, garantindo operações seguras e em conformidade com os requisitos legais e ambientais</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/011_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3><strong>Atendimento Técnico e Personalizado</strong></h3>
            <p>Apoio próximo e especializado em todas as etapas: desde a escolha dos equipamentos até o acompanhamento
                do uso em campo. Soluções construídas com base na realidade de cada cliente</p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2">
            <img src="./source/images/012_Image.svg" alt="">
        </div>
        <div class="col-sm-10">
            <h3><strong>Kits Completos para Sondagens Ambientais</strong></h3>
            <p>Soluções para acelerar o início dos trabalhos em campo, com todos os componentes e acessórios essenciais
                incluídos, reduzindo riscos logísticos e operacionais</p>
        </div>
    </div>
</div>