<div id="equipments" class="container my-5 py-5">
    <div class="row border-top pt-5">
        <div class="col-md-6">
            <img src="./source/images/013_Image.svg" alt="">
        </div>
        <div class="col-md-6">
            <h1 class="text-body-emphasis mb-5">NOSSOS <br><strong><span
                        style="color: #F6A728;">Equipamentos</span></strong></h1>
            <ul>
                <li>Máquinas de pequeno, médio e grande porte, montadas sobre esteira ou acopladas em caminhão</li>
                <li>Máquina de grande porte com capacidade de perfuração de até 60 metros</li>
                <li>Máquinas específicas para trabalhos em áreas contaminadas</li>
                <li>Máquinas destinadas ao mercado de estaca raiz</li>
                <li>Hollow Stem Augers com diâmetros internos de 4", 7" e 10“</li>
                <li>Hastes para cravação - Direct Push e Piston Sampler</li>
                <li>Equipamento completo para sondagem manual</li>
                <li>Mesa para corte de liner, cortador de liner e furadeira</li>
                <li>Materiais para isolamento de frentes de trabalho</li>
            </ul>
        </div>
    </div>
</div>