<header>
  <nav class="navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./source/images/Logo Drillpusg Final SVG.svg" height="64" width="96" alt="DRILLPUSH Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerToggler"
        aria-controls="headerToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="headerToggler">
        <ul class="navbar-nav me-5 mb-2 mb-lg-0 position-absolute end-0 bg-white">
        <!--  <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">NOSSA EMPRESA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">SERVIÇOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">EQUIPAMENTOS</a>
          </li>
          <li class="nav-item">
            <a href='https://wa.me/16476280648'><button type="button" class="btn btn-outline-warning">CONTATO</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>