<div id="rental" class="container my-5 py-5">
    <h1 class="border-bottom text-body-emphasis mb-5">Como a DRILLPUSH pode suportar seu projeto</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner text-start">
                    <div class="flip-card-front rounded-1 px-2 py-4">
                        <h1>Suporte Personalizado</h1>
                        <p class="py-2"></p>
                        <h5>Escolha o equipamento certo para cada tipo de solo, obra e desafio</h5>
                    </div>
                    <div class="flip-card-back rounded-1 rounded-1 px-2 py-4">
                        <p>
                        <ul>
                            <li>Entendimento do projeto, necessidades, caracteristicas do solo</li>
                            <li>Suporte na definição técnica da solução mais adequada</li>
                            <li>Atendimento personalizado e ágil</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner text-start">
                    <div class="flip-card-front rounded-1 px-2 py-4">
                        <h1>Locação de Equipamentos</h1>
                        <p class="py-2"></p>
                        <h5>Soluções modernas, flexíveis e sob medida para seu projeto</h5>
                    </div>
                    <div class="flip-card-back rounded-1 rounded-1 px-2 py-4">
                        <ul>
                            <li>Locação de máquinas de perfuração de última geração (sem operador)</li>
                            <li>Aluguel de ferramentas e equipamentos: hastes, Hollow Steam Auger, geradores,
                                marteletes, trado manual e muito mais</li>
                            <li>Kits completos prontos para sondagens ambientais, material para isolamento,
                                cortador de liner, etc.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner text-start">
                    <div class="flip-card-front rounded-1 px-2 py-4">
                        <h1>Entrega e Ambientação de Operadores</h1>
                        <p class="py-2"></p>
                        <h5>Soluções modernas, flexíveis e sob medida para seu projeto</h5>
                    </div>
                    <div class="flip-card-back rounded-1 rounded-1 px-2 py-4">
                        <ul>
                            <li>Frete incluído na proposta</li>
                            <li>Entrega da máquina e equipamentos direto no local da obra</li>
                            <li>Ambientação dos operadores para utilização da máquina e ferramentas</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner text-start">
                    <div class="flip-card-front rounded-1 px-2 py-4">
                        <h1>Manutenção Inteligente</h1>
                        <p class="py-2"></p>
                        <h5>Evite paradas e preserve a performance dos equipamentos</h5>
                    </div>
                    <div class="flip-card-back rounded-1 rounded-1 px-2 py-4">
                        <ul>
                            <li>Manutenção preventiva e corretiva conforme a necessidade</li>
                            <li>Equipe técnica preparada para suporte de manutenção remoto e presencial</li>
                            <li>Manutenção e reposição de peças conforme a necessidade do projeto</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>