<!--
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Como a DRILLPUSH pode suportar seu projeto</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#toggles2"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Suporte Personalizado</h3>
                <p>Escolha o equipamento certo para cada tipo de solo, obra e desafio</p> <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Locação de Equipamentos</h3>
                <p>Soluções modernas, flexíveis e sob medida para seu projeto</p> <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#tools"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Entrega e Ambientação de Operadores</h3>
                <p>Entrega de equipamentos e capacitação do seu time para utilização</p> <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Manutenção Inteligente</h3>
                <p>Evite paradas e preserve a performance dos equipamentos</p> <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
    </div>
</div>
-->
<!--
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Como a DRILLPUSH pode suportar seu projeto</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#collection"></use>
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Suporte Personalizado</h3>
            <p>Escolha o equipamento certo para cada tipo de solo, obra e desafio
                <ul>
                    <li>Entendimento do projeto, necessidades, caracteristicas do solo</li>
                    <li>Suporte na definição técnica da solução mais adequada</li>
                    <li>Atendimento personalizado e ágil</li>
                </ul>
            </p> <a href="#" class="icon-link">
                Call to action
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#chevron-right"></use>
                </svg> </a>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#people-circle"></use>
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Locação de Equipamentos</h3>
            <p>Soluções modernas, flexíveis e sob medida para seu projeto
                <ul>
                    <li>Locação de máquinas de perfuração de última geração (sem operador)</li>
                    <li>Aluguel de ferramentas e equipamentos: hastes, Hollow Steam Auger, geradores, marteletes, trado manual e muito mais</li>
                    <li>Kits completos prontos para sondagens ambientais, material para isolamento, cortador de liner, etc.</li>
                </ul>
            </p> <a href="#" class="icon-link">
                Call to action
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#chevron-right"></use>
                </svg> </a>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#toggles2"></use>
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Entrega e Ambientação de Operadores</h3>
            <p>Entrega de equipamentos e capacitação do seu time para utilização
            <ul>
                <li>Frete incluído na proposta </li>
                <li>Entrega da máquina e equipamentos direto no local da obra</li>
                <li>Ambientação dos operadores para utilização da máquina e ferramentas</li>
            </ul>
            </p> <a href="#" class="icon-link">
                Call to action
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#chevron-right"></use>
                </svg> </a>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em" aria-hidden="true">
                    <use xlink:href="#toggles2"></use>
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Manutenção Inteligente</h3>
            <p>Evite paradas e preserve a performance dos equipamentos
                <ul>
                    <li>Manutenção preventiva e corretiva conforme a necessidade</li>
                    <li>Equipe técnica preparada para suporte de manutenção remoto e presencial</li>
                    <li>Manutenção e reposição de peças conforme a necessidade do projeto</li>
                </ul>
            </p> <a href="#" class="icon-link">
                Call to action
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#chevron-right"></use>
                </svg> </a>
        </div>
    </div>
</div>
-->
<div id="rental" class="container px-4 py-5" id="custom-cards">
    <h1 class="pb-2 border-bottom text-body-emphasis">Como a DRILLPUSH pode suportar seu projeto</h1>
    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"> <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                height="32" class="rounded-circle border border-white"> </li>
                        <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                role="img" aria-label="Location">
                                <use xlink:href="#geo-fill"></use>
                            </svg> <small>Earth</small> </li>
                        <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em" role="img"
                                aria-label="Duration">
                                <use xlink:href="#calendar3"></use>
                            </svg> <small>3d</small> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"> <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                height="32" class="rounded-circle border border-white"> </li>
                        <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                role="img" aria-label="Location">
                                <use xlink:href="#geo-fill"></use>
                            </svg> <small>Pakistan</small> </li>
                        <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em" role="img"
                                aria-label="Duration">
                                <use xlink:href="#calendar3"></use>
                            </svg> <small>4d</small> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"> <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                height="32" class="rounded-circle border border-white"> </li>
                        <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                role="img" aria-label="Location">
                                <use xlink:href="#geo-fill"></use>
                            </svg> <small>California</small> </li>
                        <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em" role="img"
                                aria-label="Duration">
                                <use xlink:href="#calendar3"></use>
                            </svg> <small>5d</small> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"> <img src="https://github.com/twbs.png" alt="Bootstrap" width="32"
                                height="32" class="rounded-circle border border-white"> </li>
                        <li class="d-flex align-items-center me-3"> <svg class="bi me-2" width="1em" height="1em"
                                role="img" aria-label="Location">
                                <use xlink:href="#geo-fill"></use>
                            </svg> <small>Earth</small> </li>
                        <li class="d-flex align-items-center"> <svg class="bi me-2" width="1em" height="1em" role="img"
                                aria-label="Duration">
                                <use xlink:href="#calendar3"></use>
                            </svg> <small>3d</small> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>