<section class="mt-5" id="solution">
  <div class="container my-5">
    <h1 class="text-start">Our solution</h1>
    <h4 class="text-start">Our customer-centric solution eliminates the need for traditional timesheets. It provides timesheets <span>pre-filled</span> with activities for easy review and approval.</h4>
    <div class="container text-center my-5">
      <div class="row g-4">
        <div class="col-md-4 p-3">
          <i class="bi bi-piggy-bank"></i>
          <h1 class="text-left">Save money</h1>
          <h3 class="text-left">+60 minutes</h3>
          <p class="text-left">per week capturing calendar docs metadata and voice entries to fill the timesheet
          </p>
        </div>
        <div class="col-md-4 p-3">
          <i class="bi bi-graph-up-arrow"></i>
          <h1 class="text-left">Make money</h1>
          <h3 class="text-left">+25% billable hours</h3>
          <p class="text-left">increased productivity (+billable) and improved revenue capture (-unbilled)</p>
        </div>
        <div class="col-md-4 p-3">
          <i class="bi bi-shield-check"></i>
          <h1 class="text-left">Privacy first</h1>
          <h3 class="text-left">non-invasive</h3>
          <p class="text-left">ensures content privacy, focused on metadata and headlines</p>
        </div>
      </div>
      <div>
        <h1 class="text-start">How Contera works</h1>
        <h4 class="text-start">Contera collects only metadata from calendars and documents—never content. Our AI
          transforms this data into polished timesheets, analytics, and ERP-ready exports. Efficient time tracking with
          complete privacy.</h4>
      </div>
    </div>
  </div>
</section>