<div id="differentials" class="container">
    <h1 class="border-bottom text-body-emphasis">
    <img src="../source/images/diff000.svg" alt="" class="img-fluid w-100 shadow-none" loading="lazy">
    </h1>
    <div class="container my-5">
        <div class="container text-center my-5">
            <div class="row g-4 justify-content-center">
                <div class="col-md-4 p-3">
                    <img src="/source/images/diff001.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Equipamentos modernos e em conformidade com NR-12.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="/source/images/diff002.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Atendimento técnico especializado.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="/source/images/diff003.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Atuação em todo território brasileiro.</strong></h3>
                </div>
            </div>

            <div class="row g-4 justify-content-center">
                <div class="col-md-4 p-3">
                    <img src="/source/images/diff004.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Modelos de locação flexíveis.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="/source/images/diff005.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Execução de serviços de perfuração e sondagem.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="/source/images/diff006.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Equipe especializada e experiente.</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>
