<div id="footer" class="container-fluid">
  <footer>
    <ul class="nav justify-content-center border-bottom">
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" aria-current="page"
          href="./source/pt-br/pages/aboutus.html">NOSSA EMPRESA</a>
      </li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" aria-current="page"
          href="./index.html#differenciais">DIFERENCIAIS</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" aria-current="page"
          href="./index.html#services">SERVIÇOS</a>
      </li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" aria-current="page"
          href="./source/pt-br/pages/products.html">PRODUTOS</a>
      </li>
    </ul>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <p class="col-md-4 mb-0 text-body-secondary">©Drillpush Locacao e Venda de Equipamentos LTDA</p>
        <a href="https://www.google.com/maps/place/Rua+Guilherme+Cimieri+669,+Vila+Nova+Bonsucesso" target="_blank"
          class="nav-link px-2 text-body-secondary">Rua Guilherme Cimieri, 669 - Vila Nova Bonsucesso</a>
        <ul class="nav col-md-4 mb-0 justify-content-end">
          <li class="nav-item">
            <a href="mailto:contato@drillpush.com" class="nav-link px-2 text-body-secondary">
              <i class="bi bi-envelope-at"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="tel:+551151170825" class="nav-link px-2 text-body-secondary">
              <i class="bi bi-telephone"></i>
            </a>
          </li>
          <li class="nav-item"><a href="https://www.linkedin.com/company/drillpush"
              class="nav-link px-2 text-body-secondary">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>

          <li class="nav-item"><a href="https://wa.me/16476280648" class="nav-link px-2 text-body-secondary"
              target="_blank"><i class="bi bi-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>