<div id="hero" class="hero container-fluid p-5">
    <video class="bg-video" autoplay muted playsinline preload="metadata">
        <source src="https://www.pexels.com/download/video/4471213/" type="video/mp4">
        Seu navegador não suporta vídeo em background.
    </video>
    <div class="row flex-lg-row align-items-end">
        <div class="summary col-md-4">
            <!--
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Quem Somos</h1>
            <p class="lead">A DrillPush é uma empresa brasileira especializada em locação de equipamentos, venda de máquinas e ferramentas, e prestação de serviços para os mercados de áreas contaminadas, geotecnia e fundações.</p>
            <p class="lead">Profissionais com mais de 20 anos de experiência, combinamos conhecimento técnico, tecnologia, agilidade e confiabilidade para entregar soluções eficientes e seguras.</p>
            -->
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Diferenciais</h1>
            <p class="lead">A DrillPush combina <strong>qualidade internacional,
                    experiência técnica e suporte local</strong> para oferecer
                soluções completas em perfuração, investigação
                ambiental e geotecnia no Brasil.</p>
            <p class="lead">Atuamos com equipamentos modernos, tecnologias
                avançadas e processos operacionais que priorizam
                precisão, segurança e alta performance em campo.</p>
            <p class="lead">Nosso diferencial está na integração entre:
            <ul class="content-list">
                <li>Padrão internacional de qualidade</li>
                <li>Equipe altamente qualificada</li>
                <li>Manutenção própria e disponibilidade de peças</li>
                <li>Suporte técnico local</li>
            </ul>
            <p class="lead">
                Esses pilares garantem mais agilidade, confiabilidade e
                continuidade às operações dos nossos clientes.
                Com essa estrutura, entregamos soluções eficientes e
                tecnicamente consistentes para projetos ambientais,
                geotécnicos e para o mercado de <strong>Gerenciamento de
                Áreas Contaminadas (GAC).</strong></p>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2"
                    href="mailto:contato@drillpush.com?subject=Contato">Solicitar Cotação</a>
                <a class="btn btn-secondary btn-lg px-4" href="tel:+551151170825">Fale Conosco</a>
            </div>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-center">
            <img src="./source/images/product0009_Multifunctional_100m_Direct_Push_Drill_Rig_EP4000C-removebg-preview.png"
                class="d-block img-fluid" alt="Diferenciais" loading="lazy" width="600" height="400">
        </div>
    </div>
</div>