<div id="hero" class="hero container-fluid p-5">
    <video class="bg-video" autoplay muted playsinline>
        <source src="https://www.pexels.com/download/video/4471213/" type="video/mp4" loading="lazy">
        Seu navegador não suporta vídeo em background.
    </video>
    <div class="row flex-lg-row align-items-end">
        <div class="summary col-md-4">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Quem Somos</h1>
            <p class="lead">A DrillPush é uma empresa especializada na locação de equipamentos e execução de serviços de
                perfuração para os mercados de áreas contaminadas, geotecnia e fundações.</p>
            <p class="lead">Profissionais com mais de 20 anos de experiência no setor, combinamos tecnologia, agilidade
                e confiabilidade.</p>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2"
                    href="mailto:contato@drillpush.com?subject=Contato">Solicitar Cotação</a>
                <a class="btn btn-secondary btn-lg px-4" href="tel:+551151170825">Fale Conosco</a>
            </div>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-center">
            <img src="./source/images/product0009_Multifunctional_100m_Direct_Push_Drill_Rig_EP4000C-removebg-preview.png" class="d-block img-fluid"
                 alt="Quem somos" loading="lazy">
        </div>
    </div>
</div>