<div id="hero" class="container col-xxl-8 py-5">
    <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-md-6"> <img src="/source/images/hero000.svg" class="d-block mx-lg-auto img-fluid"
                alt="Quem somos" width="420" height="300" loading="lazy"> </div>
        <div class="col-md-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Quem Somos</h1>
            <p class="lead">A DrillPush é uma empresa especializada na locação de equipamentos e execução de serviços de
                perfuração para os mercados de áreas contaminadas, geotecnia e fundações.</p>
            <p class="lead">Profissionais com mais de 20 anos de experiência no setor, combinamos tecnologia, agilidade
                e confiabilidade.</p>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2"
                    href="mailto:contato@drillpush.com?subject=Contato">Solicitar Cotação</a>
                <a class="btn btn-secondary btn-lg px-4" href="tel:+551151170825">Fale Conosco</a>
            </div>
        </div>
    </div>
</div>