<div id="rental" class="container py-5">
    <h1 class="border-bottom text-body-emphasis mb-5">
    <img src="./source/images/services000.svg" alt="" class="img-fluid w-20 shadow-none">
    </h1>

    <h2>
        Especialistas em serviços <strong>locação de máquinas e ferramentas</strong> para
        perfuração ambiental, geotécnica e de fundações.
    </h2>
    <p></p>
    <h3>
        Nosso parque de máquinas e ferramentasas é composto por:
    </h3>
    <p></p>
    <ul>
        <li>Parque de cinco máquinas de médio e grande porte, sobre esteiras ou acopláveis em caminhões.
        </li>
        <p></p>
        <li>Máquina de grande porte com capacidade de perfuração de até 60 metros.</li>
        <p></p>
        <li>Máquinas específicas para trabalhos em áreas contaminadas.</li>
        <p></p>
        <li>Máquinas destinadas ao mercado de estaca raiz.</li>
        <p></p>
        <li>Hollow Stem Augers com diâmetros internos de 4", 7" e 10".</li>
        <p></p>
        <li>Hastes para cravação - Direct Push e Piston Sampler.</li>
        <p></p>
        <li>Equipamento completo para sondagem manual.</li>
        <p></p>
        <li>Mesa para corte de liner, cortador de liner e furadeira.</li>
        <p></p>
        <li>Materiais para isolamento de frentes de trabalho.</li>
    </ul>
    <a class="btn btn-primary btn-lg px-4 me-md-2"
        href="mailto:contato@drillpush.com?subject=Orçamento de Locação de Máquinas e Equipamentos">Solicitar
        Cotação</a>
</div>