<div id="services" class="container py-5">
    <h1 class="border-bottom text-body-emphasis mb-5">

        <!--
        Como a <strong><span style="color: #F6A728;">DRILLPUSH</span></strong> pode
        <strong><span style="background-color: #F6A728;color: #F2F2F2;">suportar</span></strong> seu projeto
        -->
        <img src="/source/images/services000.svg" alt="" class="img-fluid w-20 shadow-none">
    </h1>

    <h2>
        <lead>
        Soluções completas em <strong>serviços de perfuração, sondagem e locação de máquinas e ferramentas para perfuração
        ambiental, geotécnica e de fundações</strong>.</lead>
    </h2>

    <div class="accordion accordion-flush my-5 py-5" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h2>Locação de máquinas e equipamentos</h2>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Parque de cinco máquinas de médio e grande porte, sobre esteiras ou acopláveis em caminhões
                        </li>
                        <p></p>
                        <li>Máquina de grande porte com capacidade de perfuração de até 60 metros</li>
                        <p></p>
                        <li>Máquinas específicas para trabalhos em áreas contaminadas</li>
                        <p></p>
                        <li>Máquinas destinadas ao mercado de estaca raiz</li>
                        <p></p>
                        <li>Hollow Stem Augers com diâmetros internos de 4", 7" e 10“</li>
                        <p></p>
                        <li>Hastes para cravação - Direct Push e Piston Sampler</li>
                        <p></p>
                        <li>Equipamento completo para sondagem manual</li>
                        <p></p>
                        <li>Mesa para corte de liner, cortador de liner e furadeira</li>
                        <p></p>
                        <li>Materiais para isolamento de frentes de trabalho</li>
                    </ul>
                    <a class="btn btn-primary btn-lg px-4 me-md-2"
                        href="mailto:contato@drillpush.com?subject=Orçamento de Locação de Máquinas e Equipamentos">Solicitar
                        Cotação</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h2>Perfuração e Sondagem</h2>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Sondagem: trado manual, Hollow Stem Auger, Direct Push, percussão (SPT), rotativa com
                            testemunho de rocha</li>
                        <p></p>
                        <li>Coleta de amostras (Grab Sample)</li>
                        <p></p>
                        <li>Instalação de vapor wells, sub slab e amostradores passivos</li>
                        <p></p>
                        <li>Instalação de poços de monitoramento e remediação e piezômetros</li>
                        <p></p>
                        <li>Instalação de Double Case</li>
                        <p></p>
                        <li>Amostragem com tubo Shelby</li>
                        <p></p>
                        <li>Perfuração para remediação termal</li>
                        <p></p>
                        <li>Injeção de produtos químicos (Direct Push ou poços)</li>
                        <p></p>
                        <li>Execução de estaca raiz seca (HSA ou lavagem)</li>
                    </ul>
                    <a class="btn btn-primary btn-lg px-4 me-md-2"
                        href="mailto:contato@drillpush.com?subject=Orçamento de Perfuração e Sondagem">Solicitar
                        Cotação</a>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="container py-5" style="background-color: #F6A728;color:#FAF6EF">
    <h1 class="py-5">OPÇÃO 2 | OPÇÃO 2 | OPÇÃO 2</h1>
    </div> 

    <div class="row row-cols-1 row-cols-md-2 g-4 my-5 py-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Locação de máquinas e equipamentos</h3>
                    <p class="card-text">
                    <ul class="lead">
                        <li>Parque de cinco máquinas de médio e grande porte, sobre esteiras ou acopláveis em caminhões
                        </li>
                        <p></p>
                        <li>Máquina de grande porte com capacidade de perfuração de até 60 metros</li>
                        <p></p>
                        <li>Máquinas específicas para trabalhos em áreas contaminadas</li>
                        <p></p>
                        <li>Máquinas destinadas ao mercado de estaca raiz</li>
                        <p></p>
                        <li>Hollow Stem Augers com diâmetros internos de 4", 7" e 10“</li>
                        <p></p>
                        <li>Hastes para cravação - Direct Push e Piston Sampler</li>
                        <p></p>
                        <li>Equipamento completo para sondagem manual</li>
                        <p></p>
                        <li>Mesa para corte de liner, cortador de liner e furadeira</li>
                        <p></p>
                        <li>Materiais para isolamento de frentes de trabalho</li>
                    </ul>
                    </p>
                </div>
                <a class="btn btn-primary btn-lg px-4 me-md-2"
                    href="mailto:contato@drillpush.com?subject=Orçamento de Locação de Máquinas e Equipamentos">Solicitar
                    Orçamento</a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">Perfuração e Sondagem</h3>
                    <p class="card-text">
                    <ul class="lead">
                        <li>Sondagem: trado manual, Hollow Stem Auger, Direct Push, percussão (SPT), rotativa com
                            testemunho de rocha</li>
                        <p></p>
                        <li>Coleta de amostras (Grab Sample)</li>
                        <p></p>
                        <li>Instalação de vapor wells, sub slab e amostradores passivos</li>
                        <p></p>
                        <li>Instalação de poços de monitoramento e remediação e piezômetros</li>
                        <p></p>
                        <li>Instalação de Double Case</li>
                        <p></p>
                        <li>Amostragem com tubo Shelby</li>
                        <p></p>
                        <li>Perfuração para remediação termal</li>
                        <p></p>
                        <li>Injeção de produtos químicos (Direct Push ou poços)</li>
                        <p></p>
                        <li>Execução de estaca raiz seca (HSA ou lavagem)</li>
                    </ul>
                </div>
                </p>
                <a class="btn btn-primary btn-lg px-4 me-md-2 "
                    href="mailto:contato@drillpush.com?subject=Orçamento de Perfuração e Sondagem">Solicitar
                    Orçamento</a>
            </div>
        </div>
    </div>
</div>

<div class="container py-5" style="background-color: #F6A728;color:#FAF6EF">
    <h1 class="py-5">OPÇÃO 3 | OPÇÃO 3 | OPÇÃO 3</h1>
    </div> 

<div class="container my-5 py-5">
    <h1>Locação de máquinas e equipamentos</h1>
    <ul class="lead">
        <li>Parque de cinco máquinas de médio e grande porte, sobre esteiras ou acopláveis em caminhões
        </li>
        <p></p>
        <li>Máquina de grande porte com capacidade de perfuração de até 60 metros</li>
        <p></p>
        <li>Máquinas específicas para trabalhos em áreas contaminadas</li>
        <p></p>
        <li>Máquinas destinadas ao mercado de estaca raiz</li>
        <p></p>
        <li>Hollow Stem Augers com diâmetros internos de 4", 7" e 10“</li>
        <p></p>
        <li>Hastes para cravação - Direct Push e Piston Sampler</li>
        <p></p>
        <li>Equipamento completo para sondagem manual</li>
        <p></p>
        <li>Mesa para corte de liner, cortador de liner e furadeira</li>
        <p></p>
        <li>Materiais para isolamento de frentes de trabalho</li>
    </ul>
    <a class="btn btn-primary btn-lg px-4 me-md-2"
        href="mailto:contato@drillpush.com?subject=Orçamento de Perfuração e Sondagem">Solicitar
        Orçamento</a>
</div>

<div class="container py-5">
    <h1>Perfuração e Sondagem</h1>
    <ul class="lead">
        <li>Sondagem: trado manual, Hollow Stem Auger, Direct Push, percussão (SPT), rotativa com
            testemunho de rocha</li>
        <p></p>
        <li>Coleta de amostras (Grab Sample)</li>
        <p></p>
        <li>Instalação de vapor wells, sub slab e amostradores passivos</li>
        <p></p>
        <li>Instalação de poços de monitoramento e remediação e piezômetros</li>
        <p></p>
        <li>Instalação de Double Case</li>
        <p></p>
        <li>Amostragem com tubo Shelby</li>
        <p></p>
        <li>Perfuração para remediação termal</li>
        <p></p>
        <li>Injeção de produtos químicos (Direct Push ou poços)</li>
        <p></p>
        <li>Execução de estaca raiz seca (HSA ou lavagem)</li>
    </ul>
    <a class="btn btn-primary btn-lg px-4 me-md-2 "
        href="mailto:contato@drillpush.com?subject=Orçamento de Perfuração e Sondagem">Solicitar
        Orçamento</a>
</div>


<div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="flip-card">
            <div class="flip-card-inner text-start">
                <div class="flip-card-front rounded-1 px-2 py-4">
                    <h2>Suporte Personalizado</h2>
                    <p class="py-2"></p>
                    <h5>Escolha o equipamento certo para cada tipo de solo, obra e desafio</h5>
                </div>
                <div class="flip-card-back rounded-1 px-2 py-4">
                    <ul>
                        <li>Entendimentodo projeto, necessidades, caracteristicas do solo</li>
                        <li>Suporte na definição técnica da solução mais adequada</li>
                        <li>Atendimento personalizado e ágil</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="flip-card">
            <div class="flip-card-inner text-start">
                <div class="flip-card-front rounded-1 px-2 py-4">
                    <h2>Locação de Equipamentos</h2>
                    <p class="py-2"></p>
                    <h5>Soluções modernas, flexíveis e sob medida para seu projeto</h5>
                </div>
                <div class="flip-card-back rounded-1 px-2 py-4">
                    <ul>
                        <li>Locação de máquinas de perfuração de última geração (sem operador)</li>
                        <li>Aluguel de ferramentas e equipamentos: hastes, Hollow Steam Auger, geradores,
                            marteletes, trado manual e muito mais</li>
                        <li>Kits completos prontos para sondagens ambientais, material para isolamento,
                            cortador de liner, etc.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="flip-card">
            <div class="flip-card-inner text-start">
                <div class="flip-card-front rounded-1 px-2 py-4">
                    <h2>Entrega e Ambientação de Operadores</h2>
                    <p class="py-2"></p>
                    <h5>Entrega de equipamentos e capacitação do seu time para utilização
                    </h5>
                </div>
                <div class="flip-card-back rounded-1 px-2 py-4">
                    <ul>
                        <li>Frete incluído na proposta</li>
                        <li>Entrega da máquina e equipamentos direto no local da obra</li>
                        <li>Ambientação dos operadores para utilização da máquina e ferramentas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="flip-card">
            <div class="flip-card-inner text-start">
                <div class="flip-card-front rounded-1 px-2 py-4">
                    <h2>Manutenção Inteligente</h2>
                    <p class="py-2"></p>
                    <h5>Evite paradas e preserve a performance dos equipamentos</h5>
                </div>
                <div class="flip-card-back rounded-1 px-2 py-4">
                    <ul>
                        <li>Manutenção preventiva e corretiva conforme a necessidade</li>
                        <li>Equipe técnica preparada para suporte de manutenção remoto e presencial</li>
                        <li>Manutenção e reposição de peças conforme a necessidade do projeto</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
-->