<div class="container">
    <h1>Tooling and Consumables</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-2 mb-5">
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0011_Direct push drill rod.png" class="card-img-top"
                alt="Direct push drill rod">
            <div class="card-body">
                <p class="card-text">Direct push drill rod</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0012_Hollow auger.png" class="card-img-top"
                alt="Hollow auger">
            <div class="card-body">
                <p class="card-text">Hollow auger</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0013_Drill bit.png" class="card-img-top"
                alt="Drill bit">
            <div class="card-body">
                <p class="card-text">Drill bit</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0014_Disposable drill bit.png" class="card-img-top"
                alt="Disposable drill bit">
            <div class="card-body">
                <p class="card-text">Disposable drill bit</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0015_Connector.png" class="card-img-top"
                alt="Connector">
            <div class="card-body">
                <p class="card-text">Connector</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0016_Sampling pipe.png" class="card-img-top" alt="Sampling pipe">
            <div class="card-body">
                <p class="card-text">Sampling pipe</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0018_Monitoring well pipe.png" class="card-img-top"
                alt="Monitoring well pipe">
            <div class="card-body">
                <p class="card-text">Monitoring well pipe</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0019_Derrick.png" class="card-img-top"
                alt="Derrick">
            <div class="card-body">
                <p class="card-text">Derrick</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0020_Cutter and blade.png"
                class="card-img-top" alt="Cutter and blade">
            <div class="card-body">
                <p class="card-text">Cutter and blade</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0021_Male and female caps.png" class="card-img-top"
                alt="Male and female caps">
            <div class="card-body">
                <p class="card-text">Male and female caps</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0022_Red and black caps.png" class="card-img-top"
                alt="Red and black caps">
            <div class="card-body">
                <p class="card-text">Red and black caps</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0023_Pull-back caps.png" class="card-img-top"
                alt="Pull-back caps">
            <div class="card-body">
                <p class="card-text">Pull-back caps</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0024_Percussion cap.png" class="card-img-top"
                alt="Percussion cap">
            <div class="card-body">
                <p class="card-text">Percussion cap</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0025_Cushion pad.png" class="card-img-top"
                alt="Cushion pad">
            <div class="card-body">
                <p class="card-text">Cushion pad</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0026_Cleaning pad.png" class="card-img-top"
                alt="Cleaning pad">
            <div class="card-body">
                <p class="card-text">Cleaning pad</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0027_Bentonite.png" class="card-img-top"
                alt="Bentonite">
            <div class="card-body">
                <p class="card-text">Bentonite</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/source/images/product0028_Quartz sand.png" class="card-img-top"
                alt="Quartz sand">
            <div class="card-body">
                <p class="card-text">Quartz sand</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
</div>
