<head>
    <base href="/dev.drillpush/">
</head>
<div id="differentials" class="container">
    <h1 class="border-bottom text-body-emphasis">
    <img src="./source/images/diff007.svg" alt="" class="img-fluid w-100 shadow-none" loading="lazy">
        <!--
        Nossos <strong><span
                style="background-color: #F6A728;color: #F2F2F2;">DIFERENCIAIS</span></strong>
                -->
    </h1>
    <div class="container my-5">
        <div class="container text-center my-5">
            <div class="row g-4 justify-content-center">
                <div class="col-md-4 p-3">
                    <img src="./source/images/diff001.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Modern equipment, compliant with NR-12.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/diff002.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Specialized Technical Support.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/diff003.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Operating across the entire Brazilian territory.</strong></h3>
                </div>
            </div>

            <div class="row g-4 justify-content-center">
                <div class="col-md-4 p-3">
                    <img src="./source/images/diff004.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Flexible rental models.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/diff005.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Drilling and Geotechnical services execution.</strong></h3>
                </div>
                <div class="col-md-4 p-3">
                    <img src="./source/images/diff006.svg" alt="" loading="lazy">
                    <h3 class="text-left"><strong>Highly skilled and experienced team</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>