<div class="container">
    <h1>Drill Rigs</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-2 mb-5">
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0001_Portable Diamond Core Drill Rig EP600W.png" class="card-img-top"
                alt="Portable Diamond Core Drill Rig EP600W">
            <div class="card-body">
                <p class="card-text">
                    
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep600w.html">Portable Diamond Core Drill Rig EP600W
                </a>

                    </p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0002_Portable Diamond Core Drill Rig EP800W.png" class="card-img-top"
                alt="Portable Diamond Core Drill Rig EP800W">
            <div class="card-body">
                <p class="card-text">Portable Diamond Core Drill Rig EP800W</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0003_Portable Diamond Core Drill Rig EP1000W.png" class="card-img-top"
                alt="Portable Diamond Core Drill Rig EP1000W">
            <div class="card-body">
                <p class="card-text">Portable Diamond Core Drill Rig EP1000W</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0004_Portable Direct Push Drill Rig EP1000D.png" class="card-img-top"
                alt="Portable Direct Push Drill Rig EP1000D">
            <div class="card-body">
                <p class="card-text">Portable Direct Push Drill Rig EP1000D</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0005_Compact Direct Push Drill Rig EP1000p.png" class="card-img-top"
                alt="Compact Direct Push Drill Rig EP1000+">
            <div class="card-body">
                <p class="card-text">Compact Direct Push Drill Rig EP1000+</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0006_EP2000E Drill Rig.png" class="card-img-top" alt="EP2000E Drill Rig">
            <div class="card-body">
                <p class="card-text">EP2000E Drill Rig</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0007_Direct Push Drill Rig EP2000S.png" class="card-img-top"
                alt="Direct Push Drill Rig EP2000S">
            <div class="card-body">
                <p class="card-text">Direct Push Drill Rig EP2000S</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0008_Direct Push Drill Rig EP2000p.png" class="card-img-top"
                alt="Direct Push Drill Rig EP2000+">
            <div class="card-body">
                <p class="card-text">Direct Push Drill Rig EP2000+</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0009_Multifunctional 100m Direct Push Drill Rig EP4000C.png"
                class="card-img-top" alt="Multifunctional 100m Direct Push Drill Rig EP4000C">
            <div class="card-body">
                <p class="card-text">Multifunctional 100m Direct Push Drill Rig EP4000C</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./source/images/product0010_Sonic drill rig EP5100A.png" class="card-img-top"
                alt="Sonic drill rig EP5100A">
            <div class="card-body">
                <p class="card-text">Sonic drill rig EP5100A</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">
                    <span class="popover"></span>
                </small>
            </div>
        </div>
    </div>
</div>
