<div id="hero" class="container col-xxl-8 py-5">
    <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-md-6"> <img src="/source/images/hero000.svg" class="d-block mx-lg-auto img-fluid"
                alt="Quem somos" width="420" height="300" loading="lazy"> </div>
        <div class="col-md-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Who we are</h1>
            <p class="lead">
                DrillPush specializes in equipment rental and drilling services for the contaminated land, geotechnical,
                and foundation markets.</p>
            <p class="lead">With over 20 years of industry experience, our professionals combine technology, agility,
                and reliability.</p>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2"
                    href="mailto:contato@drillpush.com?subject=Contato">Request a Quote</a>
                <a class="btn btn-secondary btn-lg px-4" href="tel:+551151170825">Contact us</a>
            </div>
        </div>
    </div>
</div>