<div id="hero" class="hero container-fluid p-5">
    <video class="bg-video" autoplay muted playsinline preload="metadata">
        <source src="https://www.pexels.com/download/video/4471213/" type="video/mp4">
        Your browser does not support videos in background.
    </video>
    <div class="row flex-lg-row align-items-end">
        <div class="summary col-md-4">
            <!--
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Who We Are</h1>
            <p class="lead">DrillPush is a Brazilian company specialized in equipment rental, machinery and tool sales, and service delivery for the contaminated areas, geotechnics, and foundations markets.</p>
            <p class="lead">With over 20 years of industry experience, we combine technical expertise, technology, agility, and reliability to deliver efficient and safe solutions.</p>
            -->
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Differentiators</h1>
            <p class="lead">DrillPush combines <strong>international quality,
                    technical expertise, and local support</strong> to deliver
                complete solutions in drilling, environmental
                investigation, and geotechnics in Brazil.</p>
            <p class="lead">We operate with modern equipment, advanced
                technologies, and operational processes that prioritize
                precision, safety, and high performance in the field.</p>
            <p class="lead">Our differential lies in the integration of:
            <ul class="content-list">
                <li>International quality standards</li>
                <li>Highly qualified team</li>
                <li>In-house maintenance and parts availability</li>
                <li>Local technical support</li>
            </ul>
            <p class="lead">
                These pillars ensure greater agility, reliability, and
                continuity for our clients' operations.
                With this structure, we deliver efficient and
                technically consistent solutions for environmental,
                geotechnical projects and for the <strong>Contaminated
                Areas Management (CAM)</strong> market.</p>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2"
                    href="mailto:contato@drillpush.com?subject=Contato">Request a Quote</a>
                <a class="btn btn-secondary btn-lg px-4" href="tel:+551151170825">Contact us</a>
            </div>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-center">
            <img src="./source/images/product0009_Multifunctional_100m_Direct_Push_Drill_Rig_EP4000C-removebg-preview.png"
                class="d-block img-fluid" alt="Key Differentiators" loading="lazy" width="600" height="400">
        </div>
    </div>
</div>