<head>
    <base href="/dev.drillpush/">
</head>
<button type="button" class="btn btn-sm btn-primary"
        data-bs-toggle="popover"
        data-bs-title="More information"
        data-bs-html="true"
        data-bs-content='<dl>
            <dt>
                <a href="mailto:contato@drillpush.com" class="nav-link px-2 text-body-secondary">
                <i class="bi bi-envelope-at"></i> Email
                </a>
            </dt>
            <dt>
                <p>
                </p>
            </dt>
            <dt>
                <a href="https://wa.me/16476280648" class="nav-link px-2 text-body-secondary" target="_blank">
                <i class="bi bi-whatsapp"></i> WhatsApp</a>
            </dt>
        </dl>'>
    More information
</button>