<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                <h5>Drill Rigs</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep600w.html">Portable
                    Diamond Core Drill Rig
                    EP600W</a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep800w.html">Portable
                    Portable Diamond Core Drill Rig EP800W</a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep1000w.html">Portable Diamond
                    Core Drill Rig
                    EP1000W
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep1000d.html">Portable Direct
                    Push Drill Rig EP1000D
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep1000p.html">Compact Direct
                    Push Drill Rig EP1000+
                </a>
            </div>
        </div>
        <!--
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep2000e.html">EP2000E Drill Rig
                </a>
            </div>
        </div>
        -->
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep2000s.html">Direct Push Drill
                    Rig EP2000S
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep2000p.html">Direct Push Drill
                    Rig EP2000+
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep4000c.html">Multifunctional
                    100m Direct Push Drill
                    Rig EP4000C
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/ep5100a.html">Sonic drill rig
                    EP5100A
                </a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                <h5>Toolings and Consumables</h5>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/directPushDrillRod.html">Direct
                    push drill rod
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/hollowAuger.html">Hollow auger
                </a>
            </div>
        </div>
        <!--
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page" href="./source/en-us/pages/drillBit.html">Drill bit
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/disposableDrillBit.html">Disposable drill bit
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/connector.html">Connector
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/samplingPipe.html">Sampling pipe
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/whitePipe.html">White pipe
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/monitoringWellPipe.html">Monitoring well pipe
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/derrick.html">Derrick
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/cutterAndBlade.html">Cutter and blade
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/maleAndFemaleCaps.html">Male and female caps
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/redAndBlackCaps.html">Red and black caps
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/pull-backCaps.html">Pull-back caps
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/percussionCap.html">Percussion cap
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/cushionPad.html">Cushion pad
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/cleaningPad.html">Cleaning pad
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/bentonite.html">Bentonite
                </a>
            </div>
        </div>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <a class="nav-link active" aria-current="page"
                    href="./source/en-us/pages/quartzSand.html">Quartz sand
                </a>
            </div>
        </div>
        -->
    </div>
</div>