<div id="rental" class="container py-5">
    <h1 class="border-bottom text-body-emphasis mb-5">
    <img src="./source/images/services001.svg" alt="" class="img-fluid w-20 shadow-none">
    </h1>

    <h2>
        Specialists on <strong>rental services of drilling machinery and
            tools</strong> for environmental, geotechnical, and foundation projects.
    </h2>
    <p></p>
    <h3>
        Our machines and tools inventory has:
    </h3>
    <p></p>
    <ul>
        <li>A fleet of five medium to large-sized machines, track-mounted or truck-mountable.
        </li>
        <p></p>
        <li>Large-capacity machine capable of drilling up to 60 meters (approximately 200 ft).</li>
        <p></p>
        <li>Specialized machines for working in contaminated areas.</li>
        <p></p>
        <li>Machines designed for the micropile (estaca raiz) market.</li>
        <p></p>
        <li>Hollow Stem Augers with 4", 7", and 10" inner diameters.</li>
        <p></p>
        <li>Rods for driving - Direct Push and Piston Sampler.</li>
        <p></p>
        <li>Complete equipment for manual (geotechnical) investigation.</li>
        <p></p>
        <li>Liner cutting table, liner cutter, and drill.</li>
        <p></p>
        <li>Materials for isolating work fronts.</li>
    </ul>
    <a class="btn btn-primary btn-lg px-4 me-md-2"
        href="mailto:contato@drillpush.com?subject=Orçamento de Locação de Máquinas e Equipamentos">Request
        a Quote</a>
</div>
